<h4>注文情報入力</h4>
<div class="row"> 
  <%= form_with model: @order, url: { controller: :orders , action: :confirm }, local: true do |f| %>
    <h4>支払い方法</h4>
        <p>
    	    <%= f.radio_button :payments_method, "0" %>
    	    クレジットカード
        </p>
        <p>
    	    <%= f.radio_button :payments_method, "1" %>
    	    銀行振り込み
        </p>
    <h4>お届け先</h4>
    	<p>
    		<%= f.radio_button :address_option, 0 %>
    		ご自身の住所 
    		<div>
    			<div>
    				<%= @end_user.postal_code %>
    				<%= @end_user.residence_address %>
    			</div>
    			<div><%= @end_user.last_name %><%= @end_user.first_name %></div>
    		</div>
    	</p>
    	<p>
    		<%= f.radio_button :address_option, 1 %>
    		登録済住所から選択
    		<div>
    			<%= f.collection_select :address_id, @end_user.addresses, :id, :end_user_information, include_blank: "選択してください" %>
    		</div>
    	</p>
    	<p>
    		<%= f.radio_button :address_option, 2 %>
    		新しいお届け先
    	    <table>
    		    <tr>
    				<td>郵便番号(ハイフンなし)</td>
    				<td><%= f.text_field :delivery_postal_code %></td>
    				<td></td>
    			</tr>
    			<tr>
    				<td>住所</td>
    				<td colspan="3"><%= f.text_field :delivery_address %></td>
    			</tr>
    			<tr>
    				<td>宛名</td>
    				<td><%= f.text_field :addressee %></td>
    				<td></td>
    			</tr>
    		</table>
    	</p>
        <%= f.hidden_field :end_user_id, value: @end_user.id %>
    
    <%= f.submit '確認画面へ進む', class: "btn btn-info" %>
  <% end %>
 </div>