<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-right">
           <% if end_user_signed_in? %>
            <li class="">
              <%= link_to root_path do %>
               <i class="fas fa-birthday-cake"></i>
              <% end %>
            </li>
            <li><%= link_to ' マイページ', public_end_user_path %></li>
            <li><%= link_to ' 商品一覧' %></li>
            <li><%= link_to ' カート' %></li>
            <li><%= link_to ' ログアウト', destroy_end_user_session_path, method: :delete %></li>
           <% else %>
            <li class="">
              <%= link_to root_path do %>
               <i class="fas fa-birthday-cake"></i>
              <% end %>
            </li>
            <li><%= link_to ' 商品一覧', public_items_path %></li>
            <li><%= link_to ' 新規登録', new_end_user_registration_path %></li>
            <li><%= link_to ' ログイン', new_end_user_session_path %></li>
           <% end %>
          </ul>
        </nav>

      </div>
    </header>　