<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/edb8a28ad6.js" crossorigin="anonymous"></script>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <%= render 'layouts/admin' %>
    <% else %>
      <%= render "layouts/end_users" %>
    <% end %>
    <div class="container">
      <div class="body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
